#Para evitar que lombok busque mas archivos en los dirctorios principales
config.stopBubbling=true
#Lombok agrega automaticmanete @Lombok.Generated a todos los metodos generados.
#Es decir, Jacoco ignorara cualquier codigo marcado con esa anotacion y por ende
#aumentara la cobertura
lombok.addLombokGeneratedAnnotation=true
#Cambiar el nombre de registro generado (predeterminado: log)
lombok.log.fieldname=LOG
